/* Background styling */
html {
  background: url(Vaultportal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: auto;
  border-radius: 4px;
}

.game-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.game {
  background: url(Map.jpg); 
  background-size: cover; 
  max-width: 580px; 
  width: 100%; 
}

h1 {
  text-align: center;
  font-family: 'Pandoras Vault';
  color: gold;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 19.9); 
}

.game-rules, .remGuesses {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: gold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 19.9);
}

.square {
  height: 180px; 
  width: 180px; 
  border: 1px dashed black;
  font-size: 10rem;
  text-align: center;
  transition: opacity 0.3s ease;
  margin: 5px; 
}

.square img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  font-size: 10rem;
  text-align: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px; 
  width: 100%; 
  margin: 0 auto;
  color: purple;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

.game-rules {
  text-align: left;
  margin-left: 20px;
  max-width: 400px;
}

.remGuesses {
  text-align: center;
  color: gold; 
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 19.9); 
}

.playButton {
  display: flex;
  font-size: 1rem;
  text-align: center;
  margin: 20px auto 10px;
  color: gold; 
  padding: 10px; 
  border-radius: 8px; 
  background-color: #201f1f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.guess-box {
  display: flex;
  justify-content: center;
  margin: 10px;
  text-align: center;
}

.boss-fight {
  text-align: center;
}

.made-by {
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  padding: 20px;
  color: rgb(250, 248, 250);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 40.9); 
}

.social-icons {
  display: flex;
  justify-content: center; 
  margin-top: 10px; 
}

.social-icons img {
  width: 30px; 
  height: 30px; 
  margin-right: 10px; 
}














